.intro-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: right;
}

.intro-info{
    padding: 1.5rem 1rem;
}

.pokemon-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 1rem;
}

.pokemon-detail{
    height: 400px;
    
    .pokemon-image{
        height: 400px;
        object-fit: cover;
        width: 100%;
    }
}